body {
  color: #fff;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  gap:35px;
  padding: 88px 50px;
  color: black;
  font-size: 18px;
  background-color: #fff;
}

.header__links-list {
  display: flex;
  gap: 33px;
  line-height: 115%;
}

.header__links-list-item {
  list-style-type: circle;
}

.header__links-list-item:first-child {
  list-style-type: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
}

.address {
  max-width: 240px;
  line-height: 133%;
}

.header__address {
  justify-self: end;
}

.cover {
  position: relative;
  z-index: 0;
  padding: 165px 20px 51px 50px;
  background: url('/images/cover.jpg') no-repeat center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  color: white;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  margin-bottom: 20px;
}

.aligned-text_center {
  justify-self: center;
}

.aligned-text_right {
  justify-self: end;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 105px;
  padding-right: 30px;
}

.cover__description-text {
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  word-spacing: 18.5px;
}

.bet-button {
  justify-self: right;
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  padding: 180px 24px 0 24px;
  background-color: #fff;
}

.lots__heading {
  margin-left: 40px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
  text-decoration: none;
}

.lots__card-list-item {
  display: flex;
  width: 334px;
  min-height: 596px;
  background-color: white;
}

.card-link {
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 596px;
  padding: 48px 40px;
  font-size: 20px;
  line-height: 120%;
}

.card_type_film {
  background: url('/images/card-lot-01.jpg')no-repeat center;
  background-size: cover;
}

.card_type_book {
  background: url('/images/card-lot-02.jpg')no-repeat center;
  background-size: cover;
}

.card_type_picture {
  background: url('/images/card-lot-03.jpg')no-repeat center;
  background-size: cover;
}

.card__title {
  display: block;
  align-self: flex-end;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.lots-card-text {
  align-self: flex-end;
  text-decoration: none;
}

.lots__look-more-link {
  display: block;
  margin-top: 30px;
  margin-left: 40px;
  color: #000;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 334px auto;
  gap: 25px;
  padding: 120px 24px 180px;
  color: #000;
}

.about__column:first-child {
  display: flex;
  justify-content: center;
  margin-top: 34px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
}

.about__column:last-child {
  margin-top: 135px;
}

.about__title {
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
  line-height: 120%;
}

.about__text-paragraph {
  display: block;
}

.about__text-first {
  margin-bottom: 24px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 82px 50px;
  color: #000;
  font-size: 18px;
}

.footer-list-address {
  max-width: 242px;
}

.footer__menu-list-item {
  text-align: center;
  list-style-type: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
}


